<div [formGroup]="myForm">
    <div>
        <label for="login">Login</label>
        <input type="text" formControlName="login">
        @if (!myForm.controls.login.valid && myForm.controls.login.touched) {
            <small style="color: red;">Это поле обязательно для заполнения</small>
        }
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" formControlName="email">
        @if (!myForm.controls.email.valid && myForm.controls.email.touched) {
            <small style="color: red;">Это поле обязательно для заполнения</small>
        }
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" formControlName="password">
        @if (!myForm.controls.password.valid && myForm.controls.password.touched) {
            <small style="color: red;">Это поле обязательно для заполнения</small>
        }
    </div>
    <button (click)="handlerValue()" [disabled]="!myForm.valid">Send form</button>
</div>

<div [formGroup]="validatorsForm">
    <h2>Customs Validators</h2>
    <div>
        <label for="mail">Mail</label>
        <input type="text" formControlName="mail">
        @if (!validatorsForm.controls.mail.valid && validatorsForm.controls.mail.touched) {
            <small style="color: red;">Неправильно введены данные</small>
        }
    </div>
    <div>
        <label for="password_one">Введите пароль</label>
        <input type="password" formControlName="password_one">
    </div>
    <div>
        <label for="password_two">Введите пароль еще раз</label>
        <input type="password" formControlName="password_two">
    </div>
    @if (validatorsForm.errors?.['PasswordDoNotMatch']) {
        <span style="color: red">Пароли не совпадают</span>
    }
</div>

<form [formGroup]="fbForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name" />
    </div>

    <div formArrayName="skills">
        @for (skill of skills.controls; track skill; let i = $index) {
            <div [formGroupName]="i">
                <label [for]="i + 'skill'">{{ i + 1 }} | Skill</label>
                <input type="text" [id]="i + 'skill'" formControlName="skill">
                <label [for]="i + 'exp'">Expirience</label>
                <input type="text" [id]="i + 'exp'" formControlName="expirience">
                <button type="button" (click)="removeSkill(i)">Delete</button>
            </div>
        }
    </div>
    <div>
        <button (click)="addSkill()">Add skill</button>
        <button type="submit">Submite</button>
    </div>
</form>
